body, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.header {
  background-image: url("../../../images/iteration-1-images/home-banner.png");
  background-size: cover; 
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-position: center;
}

/* Logo */
.logo {
  padding: 2rem 0;
}

/* Fırsatı kaçırma metni */
.firsat-text {
  font-family: Satisfy;
  font-weight: 400;
  font-size: 2rem;
  color: var(--yellow);
}

/* KOD ACIKTIRIR PIZZA, DOYURUR BAŞLIĞI */
.pizza-text {
  color:#FFFFFF;
  font-family: "Roboto Condensed";
  font-weight: 300;
  font-size: 5.375rem;
}

/* ACIKTIM Butonu */
.btn {
  font-family: Barlow;
  font-weight: 600;
  font-size: 1.125rem;
  background-color: var(--yellow);
  border: none;
  border-radius: 3.125rem;
  padding: 1rem 3.75rem;
  margin-top: 1.5rem;
}

.btn:hover {
  background-color: white;
  color: var(--red)
}
/* ACIKTIM Butonu */
.btn a {
  text-decoration: none;
  color: var(--dark-gray);
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Navbar */
.menu {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.menu-items {
  list-style: none;
}

.menu-items a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-decoration: none;
  font-family: Barlow;
  font-weight: 500;
  font-size: 1.125rem;
  color: #292929;
  gap: 1rem;
}

/* Sipariş verme */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#FAF7F2;
  padding: 2rem; 
}

.siparis-items {
  display: flex;
  gap: 0.5rem;
} 

.siparis-item2 {
  display: flex;
  flex-direction: column;
  gap: 0.546875rem;
}
/* Sipariş verme bölümü */
.siparis-item1 {
  background-image: url("../../images/iteration-2-images/cta/kart-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 531px;
  height: 448.75px;
  box-sizing: border-box;
  padding-top: 2rem;
  padding-left: 2rem;
  border-radius: 0.625rem;
}

.siparis-item1 h3 {
  font-family: Quattrocento;
  font-weight: 700;
  font-size: 4.25rem;
  color:#FFFFFF;
}

.siparis-item1 p {
  font-family: Barlow;
  font-weight: 600;
  font-size: 1.25rem;
  color:#FFFFFF;
  padding-bottom: 1rem;
}

.siparis-button {
  font-family: Barlow;
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--red);
  background-color: #FFFFFF;
  border-radius: 3.125rem;
  padding: 1rem 0rem;
  width: 8.625rem;
  text-align: center;
  border: none;
  text-decoration: none;
}

.siparis-button:hover {
  background-color: var(--yellow);
  color: white;
}

.siparis-item21 {
  background-image: url("../../images/iteration-2-images/cta/kart-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  width: 530px;
  height: 220px;
  box-sizing: border-box;
  padding-top: 2rem;
  padding-left: 2rem;
  border-radius: 0.625rem;
  gap: 2rem;
}

.siparis-item22 {
  background-image: url("../../images/iteration-2-images/cta/kart-3.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  width: 530px;
  height: 220px;
  box-sizing: border-box;
  padding-top: 2rem;
  padding-left: 2rem;
  border-radius: 0.625rem;
  gap: 2rem;
}

.siparis-item22 h4 {
  font-family: Barlow;
  font-weight: 600;
  font-size: 2rem;
  color: #292929;
}

.siparis-item21 h4 {
  font-family: Barlow;
  font-weight: 600;
  font-size: 2rem;
  color:#FFFFFF;
}

/* Text */
.text-items1 {
  font-family: Satisfy;
  font-weight: 400;
  font-size: 2rem;
  color: #CE2829;
  text-align: center;
  padding: 3rem 0rem 1rem 0rem;
}

.text-items2 {
  font-family: Barlow;
  font-weight: 600;
  font-size: 2.625rem;
  color: #292929;
  text-align: center;
  padding-bottom: 1rem;
}

/* Navbar */
.menu2 {
  display: flex;
  gap: 0.75rem; 
  padding-bottom: 1.5rem;
}

.menu2-items {
  list-style: none;
}

.black {
  list-style: none;
}

.menu2-items a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: Barlow;
  font-weight: 500;
  font-size: 1.125rem;
  color: #292929;
  gap: 1rem;
  background-color: #FFFFFF;
  border-radius: 3.125rem;
  padding: 0.75rem 1.25rem; 
}

.black a{
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: Barlow;
  font-weight: 500;
  font-size: 1.125rem;
  color: #FFFFFF;
  gap: 1rem;
  background-color: #292929;
  border-radius: 3.125rem;
  padding: 0.75rem 1.25rem; 
}

/* Food */
.food {
  display: flex;
  gap: 2rem;
  padding-bottom: 2rem;
}

.food1 {
  background-color: #FFFFFF;
  border-radius: 0.75rem;
  padding: 2rem;
}

.food1 h5 {
  font-family: Barlow;
  font-weight: 600;
  font-size: 1.375rem;
}

.gray {
  font-family: Barlow;
  font-weight: 600;
  font-size: 1rem;
  color: #1B1B1BB2;
}

.pricetl {
  font-family: Barlow;
  font-weight: 700;
  font-size: 1.25rem;
  color: #292929;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.75rem;
}

/* Footer */
.footer {
  background-color: #1A1A1A;
  display: flex;
  flex-direction: column;
}

.footer1 {
  display: flex;
  justify-content: center;
  gap: 4.1rem;
  padding: 4rem;
}

.contact {
  display: flex;
  flex-direction: column;
  font-family: Barlow;
  font-weight: 400;
  font-size: 1.125rem;
  color: #FFFFFF;
}

.contact ul {
  padding: 20px;
}

.logo-footer {
  width: 251px;
  height: 100px;
}

.footer-header1 {
  font-family: Barlow;
  font-weight: 500;
  font-size: 1.5rem;
  color: #FFFFFF;
  padding-bottom: 2rem;
}

.footer-menu p {
  font-family: Barlow;
  font-weight: 400;
  font-size: 1.125rem;
  color: #FFFFFF;
  padding: 0.5rem 0;
}

.footer-h6 {
  font-family: Barlow;
  font-weight: 500;
  font-size: 1.5rem;
  color: #FFFFFF;
  padding-bottom: 3rem;
}

.footer-img img {
  border-radius: 0.1875rem;
  padding: 0.4rem 0.4rem;
}

.footer-menu {
  padding-top: 8.5rem;
  padding-right: 5.25rem;
  padding-left: 5.25rem;
}

.footer-img {
  padding-top: 8.5rem;
}

.contact ul li {
  padding-bottom: 1.5rem;
}

.contact ul li img {
  padding-right: 0.75rem;
}

.copyright {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #FFFFFF26;
  padding: 2rem 5rem;
  font-family: Barlow;
  font-weight: 400;
  font-size: 1rem;
  color: #FFFFFF;
}

.copyright p {
  padding-right: 20rem;
}

/* mobile media query */

@media (max-width: 500px) {
  .header {
    width: 100%;
  }
  /* Navbar */
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0; 
  }
  
  .menu-items {
    width: 48%; 
    padding-bottom: 0.5rem; 
  }

  /* Navbar */
  .menu2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0;
  }

  .menu2-items {
    width: 48%; 
    padding-bottom: 0.5rem; 
  }

  /* Sipariş ver */
  .siparis-items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .siparis-item1,
  .siparis-item21,
  .siparis-item22 {
    width: 420px; 
    box-sizing: border-box;
    transform: 0.5;
    background-position: top;
  }

  /* Fiyat */
  .food {
    display: flex;
    flex-direction: column;
  }
  /* Footer */
  .footer1 {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .footer-menu {
    padding-top: 1.25rem;
    padding-left: 1.25rem;
  }

  .contact ul {
    padding: 1.25rem;
  }

  .footer-img {
    padding-left: 1.25rem;
  }
}