@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

:root {
--yellow: #FDC913;
--light-gray: #5F5F5F;
--dark-gray: #292929;
--red: #CE2829;
--beige: #FAF7F2;
}